@import url(https://fonts.googleapis.com/css?family=Montserrat);


ul {
	list-style-type: none;
}

/* add max and min widths */
.profile {
  border-radius: 50%;
  width:25%;
}

h1 {
	font-weight:bold;
	font-size: 50px;
}
	
.bblock {
	background-color: black;
	color:white;
	font-family: 'Montserrat';
}

.wblock {
	background-color: white;
	color:black;
	font-family: 'Montserrat';
}
