ul {
	list-style-type: none;
}

/* add max and min widths */
.profile {
  border-radius: 50%;
  width:25%;
}

.row-eq-height > [class^=col] {
  display: flex;
  flex-direction: row;
}


.bblock {
	background-color: black;
	color:white;
	
}

.wblock {
	background-color: white;
	color:black;
}
