background: linear-gradient(191deg, #159f7b, #969f15, #9e159f);
background-size: 600% 600%;

-webkit-animation: AnimationName 4s ease infinite;
-moz-animation: AnimationName 4s ease infinite;
-o-animation: AnimationName 4s ease infinite;
animation: AnimationName 4s ease infinite;

@-webkit-keyframes AnimationName {
    0%{background-position:34% 0%}
    50%{background-position:67% 100%}
    100%{background-position:34% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:34% 0%}
    50%{background-position:67% 100%}
    100%{background-position:34% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:34% 0%}
    50%{background-position:67% 100%}
    100%{background-position:34% 0%}
}
@keyframes AnimationName { 
    0%{background-position:34% 0%}
    50%{background-position:67% 100%}
    100%{background-position:34% 0%}
}